.navigation-toolbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 500px;

  a:first-child {
    margin-bottom: 16px;

    @media (min-width: 960px) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 960px) {
    flex-direction: row;
  }
}
